<div class="container">
    <h1>{{title}}</h1>
    <input class="btn btn-primary" type="text" [value]="title" readonly>
    <hr>
    <span>Click event !</span>
    <button class="btn btn-primary" (click)="onClick()">Click event</button> {{message}}
    <hr>
    <span>On key event !</span>
    <input class="form-control" (keyup)="onKey($event)" placeholder="Search...">
    <p>result: {{values}}</p>
    <hr>
    <span>Get data right in the template !</span>
    <input class="form-control" #box type="text" placeholder="Write something..." (keyup)="0">
    <p>result: {{box.value}}</p>
    <hr>
    <span>On enter event !</span>
    <input class="form-control" #enter (keyup.enter)="onEnter(enter.value)" type="text" placeholder="Write something...">
    <p>result: {{ enterValue}}</p>
    <hr>
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th class="table-primary">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Publishing year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Moonwalking with Einstein</td>
                <td>Joshua Foer và Mike Chamberlain</td>
                <td>2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td> You Don’t Know JS</td>
                <td>Kyle Simpson</td>
                <td>2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Clean Code </td>
                <td>Robert C.Martin</td>
                <td>2020</td>
            </tr>
        </tbody>
    </table>
</div>